/* Sets the font family for the page */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
	font-size: 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;

	padding: 10px;
}

/* Applies styles to header */
header {
	padding: 20px 35px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(160, 42, 42);
	border-bottom: black 4px solid;
}
header div h1 {
	font-weight: bold;
	font-size: 75px;
	padding: 50px 0px 0px 0px;
	margin: 0;
	align-items: center;
	text-align: center;
}
header div h2 {
	margin: 0;
	padding: 0;
}
header nav {
	display: flex;
	margin: auto;
}
.list ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.list ul li a {
	padding: 10px 15px;
	font-weight: lighter;
	font-size: 3vw;
	text-decoration: none;
	color: white;
	flex-grow: 1;
}
.list ul li a:hover {
	color: goldenrod;
	font-weight: bolder;
}
/* Hero Style */
hero {
	background-position: center;
	background-attachment: fixed;
	background-position: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: stretch;
	flex-direction: row;
	align-content: space-between;
	background-color: rgb(169, 172, 175);
	margin-bottom: 50px;
	padding: 100px 0 100px 0;
	border-bottom: solid black 4px;
}
hero img {
	display: flex;
	margin: 10px;
	border-style: double;
	border-color: black;
	position: center;
	position: relative;
	max-width: 100%;
}
/* About Me styles */
.about-me-class {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	padding: 0px 0px 150px 0;
	border-bottom: solid black 4px;
}
.about-me-class img {
	max-width: 100%;
	margin: 20px;
	border-style: double;
	border-color: black;
}
.about-me-class p {
	margin: 5px 0 15px 0;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	line-height: 1.7;
	width: 80%;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
}
/* Projects Style */
.projects-class {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	margin: auto;
	width: 100%;
	padding: 150px 0 200px 0;
	background-color: rgb(169, 172, 175);
	border-bottom: black solid 4px;
}
.image-over-text img {
	width: 400px;
	height: 400px;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
	padding: 25px;
	border-radius: 15%;
}
.image-over-text img:hover {
	opacity: 50%;
}

/* Contact Info Style */
#contact-info {
	padding: 100px 0 100px 0;
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	font-size: 20px;
	margin: 0 auto;
	text-align: center;
	background-color: rgb(160, 42, 42);
}

#contact-info ul {
	font-size: 25px;
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
	header {
		padding-bottom: 0;
		justify-content: center;
		position: relative;
	}

	header div h1 {
		width: 100%;
		text-align: center;
		font-size: 5vw;
	}

	header nav ul {
		margin-top: 20px;
		width: 100%;
		justify-content: center;
	}

	header nav ul li a {
		font-size: 2.5vw;
	}
}

/* MEDIA QUERY FOR DESKTOPS AND SMALLER */
@media screen and (max-width: 980px) {
	header {
		padding-bottom: 0;
		justify-content: center;
		position: relative;
	}

	header h1 {
		text-align: center;
	}

	header nav ul {
		margin-top: 20px;
		width: 100%;
		justify-content: center;
	}

	header nav ul li a {
		font-size: 40px;
	}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
	section {
		padding: auto;
		margin: auto;
	}
}

@media screen and (max-width: 575px) {
	header,
	section {
		display: flex;
		flex: 1 100%;
		width: 100%;
	}
	header h1 {
		font-size: 1.5vw;
	}
	nav .list ul {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		text-decoration: none;
	}
}
